# Go build outputs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output folder (if compiling locally)
/bin/
/dist/

# Go workspace history
.history/

# Env files
.env
*.env

# IDE and OS files
.idea/
.vscode/
*.iml
*.DS_Store
Thumbs.db

# Dependency directories (though 'go mod vendor' is less common now)
/vendor/

# Log files
*.log

# Temporary files
*.tmp
novelsync-f82ec-firebase-adminsdk-lqxom-8d52358c85.json
novelsync-f82ec-90edae91ca89.json